/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
	--base: #555;
	--base-100: #f1f1f1;
	--base-400: #555;
	--orange: #F39C12;
	--orange-100: #FDEBD0;
	--orange-400: #F5B041;
	--orange-800: #D68910;
	--blue: #0a61ae;
	--blue-100: #e2f8ff;
	--blue-400: #61dafb;
	--blue-800: #0a61ae;
	--blue-900: #0b5391;
}

html {
    scroll-behavior: smooth;
    padding-bottom: 100px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    
}

small {
    font-size: 32px;
    color:var(--base);
}

h1 {
    font-size:64px;
	margin:10px;
	text-align:center;
    margin:0;
	@media (max-width:1024px){
		font-size:48px;
	}
}

h2 {
	font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        font-size: large;
    }
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    position: sticky;
    width: 100%;
    padding: 10px 0px 10px 0px;
    top: 0;
    background-color: white;
    color: var(--base);
    .nav-sub {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap:20px;
        .header-icon {
            width: 65px; 
            height: 65px;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
    @media (max-width: 768px) {
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
        font-size: medium;
        .nav-sub {
            gap:10px;
        }
	}
}

.button {
	display:inline-block;
    text-decoration: none;
	padding:10px 30px;
	background-color: var(--blue);
	color: var(--base-100);
	border-radius:10px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    @media (max-width: 768px) {
        padding:10px 20px;
    }
	&:hover {
		background-color: var(--base-800);
	}
	&.white {
		background-color: white;
		color: var(--base-800);
		&:hover {
			background-color: var(--base-100);
			color: var(--base);
		}
	}
	&.black {
		background-color: black;
		color: white;
		&:hover {
			background-color: var(--base);
			color: var(--base-100);
		}
	}
}

.item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 6px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    .item {
        border-radius: 15px;
        padding: 12px 20px 12px 20px;
        background-color: var(--blue-400);
        list-style: none;
    }
}

.squircle-container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    gap: 40px;
    scroll-margin-top: 100px;
    margin: 0px 40px 0px 40px;
    .squircle {
        min-width: 600px;
        background-color: var(--blue-100);
        border-radius:30px;
        padding:30px 40px 60px 40px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-flex:1;
            -ms-flex:1;
                flex:1;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        &.blue {
            background-color: var(--blue-100);
        }
        &.orange {
            background-color: var(--orange-100);
        }
    }
    @media (max-width: 768px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0px 10px 0px 10px;
        scroll-margin-top: 120px;
    }
}

.title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    scroll-margin-top: 100px;
    .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .bar {
        width: 0px;
        height: 7px;
        background-color: var(--orange-400); 
        &.blue {
            background-color: var(--blue-400);
        }
    }
    .longer {
        width: 100%;
        height: 7px;
        background-color: var(--orange-400);
        -webkit-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition: all 1.5s;
        -webkit-transition-delay: 300ms;
             -o-transition-delay: 300ms;
                transition-delay: 300ms;
        -webkit-transition-timing-function: ease;
             -o-transition-timing-function: ease;
                transition-timing-function: ease;
        &.blue {
            background-color: var(--blue-400);
        }
    }
    @media (max-width: 768px) {
        scroll-margin-top: 120px;
    }
}

.info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap:10px;
    .contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 10px;
        @media (max-width: 768px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .contact-icon {
            width: 40px; 
            height: 40px;
        }
    }
}

.buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-bottom:20px;
}

.logos {
    margin: 20px;
	background-color: var(--base-100);
	border-radius:30px;
	padding:30px 0px;
	@media (max-width: 768px) {
		border-radius:0px;
        margin: 20px 0px 20px 0px;
	}
	.marquee {
		width:100vw;
		max-width:100%;
		height:128px;
		overflow:hidden;
		position:relative;
		.track {
			position:absolute;
			white-space:nowrap;
			will-change:transform;
			-webkit-animation: marquee 40s linear infinite;
			        animation: marquee 40s linear infinite;
            height:128px;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			gap:10px;
		}
	}
}

@-webkit-keyframes marquee {
	0% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
}

@keyframes marquee {
	0% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
}



.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; /* Show the modal */
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    .modal-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-color: #fff;
        margin: 15% auto;
        padding: 10px;
        border: 1px solid #888;
        width: 90%;
        max-width: 900px;
        height: 80%;
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        .modal-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .title {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                font-weight: bold;
                text-align: center;
                width: 100%;
                height: 100%;
            }
        }
        .modal-body {
            padding: 20px;
            overflow-y: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 15px;
            .link-project {
                background-color: var(--blue-800);
                -webkit-transition: all 0.1s;
                -o-transition: all 0.1s;
                transition: all 0.1s;
                text-align: center;
                color: white;
                padding: 20px;
                border-radius: 10px;
                text-decoration: none;
                &:hover{
                    background-color:var(--blue-900);
                }
            }
        }
        ul {
            list-style-type: disc; 
            margin-left: 20px; 
            padding-left: 20px;
        }
        li {
            margin-bottom: 10px; 
        }
    }  
}